@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: burlywood;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url(/public/background-standing1.jpeg);
}

header {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 3em;
  color: palevioletred;
  font-weight: 900;
  font-family: 'Gorditas', cursive;
  border-radius: 20px;
  background: pink;
}

footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: aliceblue;
}

