* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: burlywood;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 2em;
  color: black;

  font-family: 'Courier New', Courier, monospace;
}

footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: aliceblue;
}

