* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: burlywood;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 2em;
  color: black;
}

footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: aliceblue;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

#text {
  width: 450px;
  height: auto;
  padding: auto;
  font-size: 1.5em;
  text-align: start;
}

#author {
  width: 450px;
  height: auto;
  padding: 20px;
  font-size: 1em;
  text-align: end;
}

#new-quote {
  width: 450px;
  height: 50px;
  padding: 2px;
  font-size: 1em;
  text-align: center;
  background-color: lightgrey;
}

#tweet-quote {
  width: 450px;
  height: auto;
  margin-top: 1rem;
  font-size: 1em;
  text-align: center;
}